version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: docker/Backend.Dockerfile
    image: backend
    container_name: backend
    environment:
      - MEDIA_DIR=/app/media
      - SERVER_CONFIG_PATH=/app/configs/media_server/4s_segments_8i.yaml
    volumes:
      - ./media:/app/media
      - ./src:/app/src
      - ./configs:/app/configs
    networks:
      - servernet

  media-server:
    build:
      context: .
      dockerfile: docker/MediaServer.Dockerfile
    image: media-server
    container_name: media-server
    ports:
      - "8081:8081"  
    volumes:
      - ./media:/media:ro
      - ./src/server/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - servernet
    depends_on:
      - backend

networks:
  servernet: