version: "3.9"

services:
  transcoding-service:
    #user: "${UID}:${GID}"
    build:
      context: .
      dockerfile: docker/Backend.Dockerfile
    image: transcoding-service
    container_name: transcoding-service
    runtime: nvidia
    environment:
      - MEDIA_DIR=${MEDIA_DIR}
      - SERVER_CONFIG_PATH=${SERVER_CONFIG_PATH}
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,video,utility
    volumes:
      - ./media:/media
      - ./configs:/configs
      - ./results:/results
    logging:
      driver: "none"
    networks:
      - servernet
    deploy:

  media-server:
    #user: "${UID}:${GID}"
    build:
      context: .
      dockerfile: docker/MediaServer.Dockerfile
    image: media-server
    container_name: media-server
    environment:
      - MEDIA_DIR=${MEDIA_DIR}
      - NGINX_ENVSUBST_OUTPUT_DIR=/etc/nginx/conf.d # default, but explicit is fine
    ports:
      - "8081:8081"  
    volumes:
      - ./media:/media:ro
      #- ./src/nginx.conf.template:/etc/nginx/templates/default.conf.template:ro
    logging:
      driver: "none"
    networks:
      - servernet
    depends_on:
      - transcoding-service

networks:
  servernet: